/** ======================
  # Theme Type Settings
======================= */
$main-font: 'Open Sans', sans-serif;
$font-size: 1rem;

/** ======================
  # Theme Color Pallette
======================= */
$primary: #7952b3;
$secondary: #eb9f1c;
